{%load static%}
{%load i18n%}

<!DOCTYPE html>
<html>
{%include "ouitransfer/sub/head.html"%}

<body>
<header>
    <h1>
        <img class="inv" src="{% static 'ouitransfer/assets/ouitransfer.svg' %}">
        {% blocktrans %}Hello {{OWNER}}{% endblocktrans %}
    </h1>
    <h2>{% trans "Welcome to the admin page" %}</h2>
</header>

<main>
    <div class="buttonlinks">
        <a href="{%url 'share'%}"><b>{%trans "Share files"%}</b></a>
        <!--TODO request--><a href="{%url 'index'%}"><b>{%trans "Request files"%}</b></a>
    </div>
    <br>

    <h2>{% trans "Requested files" %}</h2>
    <h3><i>TODO</i></h3>

    <br>

    <h2>{% trans "Shared files" %}</h2>
    <h3><i>TODO</i></h3>
</main>

{%include "ouitransfer/sub/footer.html"%}

<script src="{% url 'javascript-catalog' %}"></script>
</body>
</html>