{%load static%}
{%load i18n%}
{%trans "Share" as subtitle%}

<!DOCTYPE html>
<html>
{%include "ouitransfer/sub/head.html"%}

<body>
<header class="with-nav">
    <a href="{%url 'index'%}" class="nav" alt="{%trans 'home page'%}">
        <img class="inv nav" src="{%static 'ouitransfer/assets/home.svg' %}">
    </a>
    <h2>{%trans "Create a file share"%}</h2>
</header>

<main>
    <form id="share-form" method="post" action="{%url 'share'%}">
    {%csrf_token%}
    <div id="formcontent">
        <div class="inline-input" id="make-public">
            <input type="checkbox" name="public" id="public">
            <label for="public">{%trans "Make public"%}</label>
        </div>
        <div class="inline-input" id="email-div">
            <input type="checkbox" name="send-email" id="send-email" checked>
            <label for="send-email">{%trans "Send email to:"%}</label>
            <input type="email" name="email-address" id="email-address">
            <select name="email-lang" id="email-lang">
                {%for lang in LANGUAGES%}
                    <option value="{{lang.0}}" {%if lang.0 == USER_LANG%}selected="selected"{%endif%}>{{lang.0}}</option>
                {%endfor%}
            </select>
        </div>
        <br>
        <div class="inline-input">
            <label>{%trans "Message (optional):"%}</label>
            <textarea name="content" id="content" rows="2"></textarea>
        </div>
        <br>
        <div class="inline-input" id="expire-div">
            <input type="checkbox" name="expire" id="expire">
            <label for="expire">{%trans "Delete in:"%}</label>
            <span class="number-input" id="delay-span">
                <button type="button" data-target="delay" decr>–</button>
                <input type="number" name="delay" id="delay" min="1" step="1" value="7">
                <button type="button" data-target="delay" incr>+</button>
                <select name="delay-unit" id="delay-unit">
                    <option value="minutes">{%trans "minute(s)"%}</option>
                    <option value="hours">{%trans "hour(s)"%}</option>
                    <option value="days" selected="selected">{%trans "day(s)"%}</option>
                    <option value="months">{%trans "month(s)"%}</option>
                </select>
            </span>
        </div>
        <br>
        <div class="inline-input" id="storage-path">
            <button type="button" id="reset-path" title="{%trans 'reset path'%}">
                <img class="inv" src="{%static 'ouitransfer/assets/reset.svg' %}" alt="{%trans 'reset path'%}">
            </button>
            <label>{%trans "Store in:"%}</label>
            <div id="path-selector" data-next-dirs-url="{%url '_next_dirs'%}" data-default-dir-breakdown-url="{%url '_default_dir_breakdown'%}">
                <select id="root-path" class="path-elem" name="path-0" index="0">
                    {%for path in ALLOWED_ROOTS%}
                        <option value="{{path}}">{{path}}</option>
                    {%endfor%}
                </select>
            </div>
            <i><p class="info" id="path-info"></p></i>
        </div>

        <div class="line"></div>

        <div id="upload-container"
        data-start-share-url="{%url '_start_share'%}"
        data-start-file-url="{%url '_start_file_share'%}"
        data-upload-chunk-url="{%url '_upload_chunk_share'%}"
        data-finish-file-url="{%url '_finish_file_share'%}"
        data-finish-share-url="{%url '_finish_share'%}">
            <input id="file-input" type="file" style="display:none" multiple>
            <div id="upload-interface">
                <button type="button" id="add-files-btn">{%trans "Add files"%}</button>
                <span id="selected-count">{%trans "No files selected"%}</span>
                <br><small>{%trans "Available space:"%} <span id="available-space">{{pretty_upload_space}}</span></small> | <small>{%trans "Selection size:"%} <span id="selection-size">0B</span></small>
                <span id="max-bytes" style="display:none">{{bytes_upload_space}}</span>
            </div>
            <ul id="file-list"></ul>
            <div id="progress-wrap" style="display:none">
                <progress id="upload-progress" max=100 value=0></progress>
                <p id="progress-text">0B / 0B</p>
            </div>
            <span id="upload-chunk-size" style="display:none">{{upload_chunk_size}}</span>
        </div>

        <div class="line"></div>
    </div>
    <input type="submit" id="submit-btn" value="{%trans 'Create file share'%}">
    </form>
    <br id="errorbr" style="display:none"><p id="error" style="display:none"><b id="errorbold"></b></p>
</main>

{%include "ouitransfer/sub/footer.html"%}

<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'ouitransfer/js/admin_share_interact.js' %}"></script>
<script type="text/javascript">const file_asset_path = "{% static 'ouitransfer/assets/file.svg' %}";</script>
<script src="{% static 'ouitransfer/js/path_selector.js' %}"></script>
<script src="{% static 'ouitransfer/js/admin_share_upload.js' %}"></script>
</body>
</html>