{%load static%}
{%load i18n%}

<!DOCTYPE html>
<html>
{%include "ouitransfer/sub/head.html"%}

<body>
<header>
    <h1>
        <img class="inv" src="{% static 'ouitransfer/assets/ouitransfer.svg' %}">
        {% blocktrans %}{{OWNER}}'s OuiTransfer{% endblocktrans %}
    </h1>
</header>

<main>
    <h3>{% blocktrans %}Transfer files easily and efficiently between you and {{OWNER}} using this simple interface!{% endblocktrans %}</h3>
    <h3>{% blocktrans %}Already have a transfer ID? Enter it below to start sending or receiving files:{% endblocktrans %}</h3>

    <h3><i>TODO</i></h3> <!--TODO show transfer from id in index-->

    <div class="spacing"></div>

    <h2>
        {%trans "Browse publicly shared files"%}
    </h2>

    <h3><i>TODO</i></h3> <!--TODO browse public shares in index-->
</main>

{%include "ouitransfer/sub/footer.html"%}

<script src="{% url 'javascript-catalog' %}"></script>
</body>
</html>