:root {
    --text-color: black;
    --bg-color: #e2ece8;
    --sub-color: #27ae60;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --bg-color: #1d1f1e;
        --sub-color: #145931;
    }

    img.inv {
        filter: invert(1);
    }
}


* {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-wrap: break-word;
    background-color: var(--bg-color);
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

div.spacing {
    padding: 2rem;
}

main {
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: 1.5rem;
    background-color: var(--bg-color);
}


main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    gap: 0.8rem;
    margin-bottom: 3rem;
}

main h1 img {
    height: 4.2rem;
}

main h2 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

main h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--sub-color);
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
}

footer *:not(a) {
    margin: 0.5rem;
    margin-right: 1rem;
}

footer #startrow {
    flex-grow: 0.85;
}

footer #middlerow {
    flex-grow: 1;
}

footer img {
    height: 2rem;
}
